
.home{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    
   
}

@media only screen and (max-width: 1024px){

    .home{
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 512px){
     .home{
         width: 100%;
         height: auto;
     }
}
@media only screen and (max-width: 300px){
    .home{
        width: 100%;
        height: auto;
        
        
    }
}