

.contact{
    
   position: relative;
    width: 100%;
   
    padding-bottom: 0px;
    margin-top: 100px;
    color: #ccd6f6;
    margin-right: 0px;
     font-size: 60px;
font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ac{
    font-size: 20px;
}
.ct{
    margin-top: 150px;
    margin-left: 80px;
    font-size: 20px;
}
.fair{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #8892B0;
}
.end{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 210px;
  font-size: 15px;
  color: white;
}




.bn54 {
    position: relative;
    outline: none;
    margin-top: 50px;
    margin-left: 45%;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 45px;
    width: 130px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.6);
  }
  
  .bn54 .bn54span {
   
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  
  .bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
  }
  
  .bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  @keyframes bn54rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes bn54storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }
  .fairm{
    display: none;
    
  }
  @media only screen and (max-width: 720px) {
    .ct{
      margin-left: 0px;
    }
    .contact{
      font-size: 40px;
      
    }
    .fair{
      margin-left: 10px;
      display: none;
    }
    .fairm{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      margin-left: 15px;
      color: #8892B0;
      font-size: 15px;
    }
    .bn54{
      margin-left: 30%;
    }
  }