.project {
  margin-top: 180px;
  margin-left: 75px;
  display: grid;
  grid-gap: 10px;
}
.pimage {
  position: absolute;
  border-radius: 20px;
  margin-top: 150px;
  vertical-align: middle;
  margin-left: 88px;
}
.pimage:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  z-index: 3;
}
.pimage2 {
  margin-top: 750px;
  margin-left: 450px;
}
.pimage3 {
  margin-top: 1380px;
}
.project-overline {
  display: flex;
  justify-content: flex-end;

  align-items: center;

  margin-right: 190px;
  margin-top: 130px;
  font-size: 15px;
  font-weight: 400;
  z-index: 2;
}
.project-overline2 {
  margin-top: 280px;
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
}
.project-overline3 {
  margin-top: 330px;
}
.project-title {
  margin: 5px 0px;

  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 190px;
  font-size: 25px;
}
.project-title2 {
  justify-content: flex-start;
  margin-left: 100px;
}
.project-description {
  box-shadow: 0 10px 30px 5px rgba(2, 12, 27, 0.7);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: 4px;
  background-color: #112240;

  color: #a8b2d1;
  font-size: 18px;
  width: 47%;
  margin-left: 37vw;
}
.project-description:hover {
  border-radius: 2px;
  transform: translateY(-10px);
}

.project-description2 {
  margin-left: 100px;
}
.project-description2:hover {
  transform: translateY(-10px);

  border-radius: 2px;
}

.parag {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0px;
  display: block;
  font-size: 15px;
}
.tech-list {
  justify-content: flex-end;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 0px 5px 5px 5px;
  margin-right: 170px;
  color: #c5c6c7;
  padding: 0px;
}
.tech-list2 {
  justify-content: flex-start;
  margin-left: 100px;
}
.p-link {
  display: flex;
  justify-content: flex-end;
  margin: 2px 5px;
  padding: 0px 5px;
  font-size: 23px;
  color: white;
}
button {
  display: flex;
  position: absolute;
  margin-top: 265vh;
  margin-left: 40vw;

  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

@media only screen and (max-width: 720px) {
  .project {
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  .pimage {
    display: none;
    position: absolute;
    border-radius: 20px;
    margin-top: 80px;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;
    object-fit: cover;
  }
  .pimage2 {
    display: none;
    margin-top: auto;
    margin-right: px;
  }
  .pimage3 {
    display: none;
    margin-top: 1700px;
  }
  .project-overline {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100%;
    font-size: 15px;
    font-weight: 400;
  }
  .project-overline2 {
    margin-top: auto;
  }
  .project-overline3 {
    margin-top: auto;
  }
  .project-title {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    z-index: 0;
  }
  .project-title2 {
  }
  .project-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 40px;

    border-radius: 4px;
    background-color: #112240;
    color: #a8b2d1;
    font-size: 18px;
    margin-right: 5px;
    margin-left: 15px;
    margin-top: 15px;
  }

  .tech-list {
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: 0px;
    width: auto;
    margin-left: 20px;
  }
  .tech-list li {
    margin: 5px 15px 5px 0px;
    z-index: 2;
  }
  .p-link {
    margin-top: 15px;
    margin-bottom: 0px;

    font-size: 23px;
    color: white;
  }
  button {
    position: absolute;
    margin-top: 200vh;
    margin-left: 35vw;
    width: auto;
  }
}
