@import url("https://fonts.googleapis.com/css?family=Lato:300");
.gradient-border {
  --border-width: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  font-family: Lato, sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  background: #222;
  border-radius: var(--border-width);
}
.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    #af40ff,
    #af40ff,
    #66fcf1,
    #66fcf1,
    #5b42f3,
    #5b42f3,
    #ff1493,
    #ff1493
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
.twr {
  color: white;
}
.about {
  height: 100%;
  width: 100%;

  padding-bottom: 130px;
}
.Name {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1;
  font-size: 90px;
  color: #ccd6f6;
  font-weight: 900;
  margin-top: 150px;
}
.tagline {
  color: #6c82b9;
  font-size: 18px;
  letter-spacing: 1;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.quote1 {
  color: rgb(75 85 99);
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.quote2 {
  color: rgb(75 85 99);
  display: flex;
  justify-content: center;
}
.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2c3e50;
  z-index: 0;
  transform: skewY(6deg);
  transform-origin: top right;
}
.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.picture {
  height: 200px;
}

.name {
  font-size: 30px;
}
.type {
  font-size: 55px;
}
.clr {
  color: #8892b0;
}

.tag {
  font-size: 25px;
  padding-top: 20px;
}
.about-info {
  margin-top: 110px;
}

@media only screen and (max-width: 720px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
  }

  .picture {
    height: auto;
    width: 100%;
    margin-top: 20px;
  }
  .name {
    font-size: 15px;
  }
  .type {
    font-size: 40px;
    height: auto;
    width: 10px;
  }

  .tag {
    font-size: 18px;
  }
  .about-info {
    margin-top: 20px;
  }
  .Name {
    font-size: 45px;
    margin-top: 120px;
  }
  .tagline {
    font-size: 15px;
  }
  .quote1 {
    font-size: 14px;
  }
  .quote2 {
    font-size: 14px;
  }
  .scontact {
    margin-top: -20px;
    padding-bottom: 0px;
  }
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 7px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  margin: 25px;
  font-size: 20px;
  justify-content: center;
  line-height: 3em;
  width: 30%;
  align-items: center;
  padding: 1px;
  text-decoration: none;
  cursor: pointer;
}

.neonText {
  animation: flicker 1.5s infinite alternate;
}
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #1041ff,
      0 0 80px #1041ff, 0 0 90px #1041ff, 0 0 100px #1041ff, 0 0 150px #1041ff;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.neon {
  color: #fb4264;

  text-shadow: 0 0 3px #f40a35;
}
.neon {
  animation: neon 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neon 2s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}
.flux {
  color: #426dfb;

  text-shadow: 0 0 3vw #2356ff;
}
.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}

@media only screen and (max-width: 720px) {
  .button-64 {
    font-size: 14px;
    width: 200px;
  }
}
