.separator{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
   height: 2px;
   width: 40%;
   border-radius: 1px;
   margin: 50px 10px;
   
}
@media only screen and (max-width: 720px){
    .separator{
        width: 90%;
        margin-left: 4px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}